@import url('https://fonts.googleapis.com/css2?family=Exile&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Exile", system-ui;
    font-family: "Permanent Marker", cursive;
}

body{
    background-image: url(./assets/fundo.jpg);
    

}

h1{
    font-family: "Exile", system-ui;
    text-align: center;
    color: #ffffff;
    margin-top: 20px;
    font-size: 100px;
}

h3{
    font-family: "Permanent Marker", cursive;
    text-align: center;
    font-size: 30px;
    color: #ffffff;
}

p{
    font-family: "Permanent Marker", cursive;
    text-align: center;
    font-size: 70px;
    color: #ffffff;
    
}

.result-machine{
    font-family: "Permanent Marker", cursive;
    text-align: center;
    font-size: 40px;
    color: #ff0606;

}

.my-points{
    color: #08f04e;
}

.machine-points{
    color: #f0cd08;
}

.container{
    margin-top: 200px;
}

.bottons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    
}

.button-rock{
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 15px;
    transition: 0.3s;
}

.button-rock:hover{
    opacity: 0.5;
}
.button-rock:active{
    opacity: 0.8;
}

.button-paper{
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 15px;
    transition: 0.3s;
}

.button-paper:hover{
    opacity: 0.5;
}
.button-paper:active{
    opacity: 0.8;
}

.button-scissors{
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 15px;
    transition: 0.3s;
}

.button-scissors:hover{
    opacity: 0.5;
}
.button-scissors:active{
    opacity: 0.8;
}

.reset{
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 15px;
    transition: 0.3s;
    background-image: 100px 100px;

    
}

.img-reset{
    width: 100px;
}
   @media screen and (max-width: 900px){
        body{
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            background-position: center center;
        }
        h1{
            font-size: 50px;
        }

        h3{
            font-size: 20px;
        }

        p{
            font-size: 40px;
        }

        .result-machine{
            font-size: 20px;
        }

        .my-points{
            font-size: 20px;
        }

        .machine-points{
            font-size: 20px;
        }

        .container{
            margin-top: 100px;
        }

        .bottons{
            align-items: center;
            justify-content: center;
            margin-top: 50px;
            flex-direction: row;
        }

        .reset{
            margin-right: 10px;
            width: 50px;
            height: 50px;
        }

        .img-reset{
            width: 50px;
            height: 50px;
            
        }

        .button-rock, .button-paper, .button-scissors, .reset{
            width: 80px;
            height: 80px;
        }
        .button-rock img, .button-paper img, .button-scissors img{
            width: 80px;
            height: 80px;
        }

        .button-rock:hover, .button-paper:hover, .button-scissors:hover, .reset:hover{
            opacity: 0.5;
        }
        .button-rock:active, .button-paper:active, .button-scissors:active, .reset:active{
            opacity: 0.8;
        }

        .container1{
            
            align-content: center;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 40px;
            
        }

    }

